@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");
*{
    margin: 0%;
    padding: 0%;

}
nav{
    position: relative;
}

.bar{
    width: 100%;
    height: 100px;
    background-color: rgb(96, 80, 144);
}
.bar  img{
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}
.bar ul{
    float: right;


}
.button-container {
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 100px;
    word-spacing: 20%;
    z-index: 4;
    
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  .button:hover{
    color: #4836bb;
  }
        /* --hover box-- */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(96, 80, 144);
    min-width: 100px;
    z-index: 1;
    margin-top: 110px;
    border-radius: 10px !important;
    z-index: 2;

  }
  
  .dropdown-content a {
    color: rgb(249, 249, 249);
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    position: relative;
    z-index: 3;

    
    
  }
  
  .dropdown-content a:hover {background-color: #99a0ed;}
  
  .button:hover .dropdown-content {display: block;}
  
  .button:hover .button {background-color: #3e8e41;}


#myMarquee{
    color: black;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    z-index: 2;
    background-position: 0 0;

} 
/* ---add loader--- */
.containers {
    /* Basic dimensions and centering */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Dark mode colors and gradient */
    background: rgb(219, 217, 224); /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
     
      
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  /* <!-- --add home-- --> */
.home{
    width: 100%;
    height: 2000px;
    background: rgba(0, 0, 0, 0.396);
    background-color: #000000e3;
  }
.back{
    width: 20%;
    height: 500px;
    background: rgba(27, 26, 28, 0.396);
    border-right:1px solid black ;
    border-bottom:1px solid black ;
    color: white;
}
  .back p a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 20px;
  }
  .back h2{
    margin-left: 20px;
  }
#line{
    border-bottom: 2px solid #000000; 
}
.back ul li{
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
}
.back ul li a{
    list-style: none;
    text-decoration: none;
    color: white;

}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 30px;
}


.slider:hover {
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0f100f;
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #242524;
    cursor: pointer;
}
.sanphams{
    width: 80%;
    margin-left: 300px;
    margin-top: -500px;
}

 /* <!--close --sanpham(1)-- --> */
 .sanpham{
    width: 75%;
    height: 700px;
    background-color: rgb(22, 20, 24);
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
 }
 .sanpham {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.sanpham {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nft-container {
  background: rgba(27, 26, 28, 0.396);
  background-color: #000;
  display: flex;
  flex-wrap: wrap; /* Đặt flex-wrap thành wrap để các phần tử tự động xuống dòng khi không đủ không gian */
  justify-content: space-around; /* Căn các phần tử theo trục ngang */
}
.nft-container {
    background-color: #513f3f8e;
    display: flex;
    border-radius:16px ;
    flex-wrap: wrap; /* Đặt flex-wrap thành wrap để các phần tử tự động xuống dòng khi không đủ không gian */
    justify-content: space-between; /* Đảm bảo các phần tử được căn cách nhau */
  }
  
  .nft {
    user-select: none;
    flex-basis: calc(33.333% - 20px); /* Đặt flex-basis để mỗi phần tử chiếm 1/3 chiều rộng của container */
    margin-bottom: 20px; /* Thêm khoảng cách dưới giữa các phần tử */
  }
  
  /* Đảm bảo chỉ có 3 hình ảnh trên mỗi hàng */
  @media (max-width: 1000px) {
    .nft {
      flex-basis: calc(50% - 20px); /* Khi màn hình có độ rộng tối đa là 1024px, chỉ có 2 hình ảnh trên mỗi hàng */
    }
  }
  
  @media (max-width: 700px) {
    .nft {
      flex-basis: calc(100% - 20px); /* Khi màn hình có độ rộng tối đa là 768px, chỉ có 1 hình ảnh trên mỗi hàng */
    }
  }
  
.nft {
    
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #e6dfdf22;
  background-color: #2a6ef5;
  background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  margin-bottom: 2rem; 
}

.nft hr {
  width: 90%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.nft ins {
  text-decoration: none;
}

.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.nft .main h2{
  color: white;
  font-size: 18px;
}
.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}

.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
  margin-top: -15px ;
}

.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}

.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.hover1:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #3427c0aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.hover2:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #3427c0aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.hover3:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #3427c0aa;v
  transform: scale(1.015);
  filter: brightness(1.3);
}

.hover4:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #3427c0aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.hover5:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #e17676aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}


.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}

.duration {
  padding: 1.3em 3em;
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 300;
  color: #000;
  background-color: #d36868;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.duration:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.duration:active {
  transform: translateY(-1px);
}
/* // hover vào button */
.nut {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .nut span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .nut:hover {
    background-color: #0071e2;
   }
  /* <!-- --san phamm 2-- --> */
  /* END */
   .endment{
    width: 100%;
    height: 500px;
    background-color: #feffff;
    position: relative;
    
  }
  

  
  .endment{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px; /* Khoảng cách giữa các cột */
    margin-bottom: 100px; /* Khoảng cách dưới cùng */
  }
  
  .logo {
    align-self: flex-start; /* Đặt logo ở trên cùng của cột */
  }
  
  .logo img {
    max-width: 100px; /* Điều chỉnh kích thước của logo */
    margin-top: 10px;
  }
  #tst{
    /* margin-top: 500px; */
    position: relative;
  }
  .products{
  
  }
  .footer-column{
    margin-top: 100px;
    margin-left: 300px;
  }
  .products ul,
  .policy ul {
    list-style: none;
    padding: 0;
  }
  
  .products h3,
  .store-info h3,
  .policy h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .store-info p {
    margin: 5px 0;
  }
  
  .policy li,
  .products li {
    margin-bottom: 5px;
   
  }
  .policy li a{
    list-style: none;
    color: #000;
    text-decoration: none;
  }
  .policy li:last-child,
  .products li:last-child {
    margin-bottom: 0;
  }
  
  #inline{
    border-bottom: 1px solid #000000; 
    margin-top: -100px;
  }
  
  .boxend{
    width: 100%;
    height: 50px;
    position: relative;
  }
  .boxend i{
    font-size: 30px;
  }
  .rights{
    height: 50px;
    margin-top: -50px;
    margin-left: 900px;
    position: relative;
  }
  .rights i {
    font-size: 25px;
    margin-right: 40px; /* Điều chỉnh giá trị này để thay đổi khoảng cách giữa các biểu tượng */
  }
  
  
  .cardt {
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin-top: -35px;
    border-radius: 16px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 20px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }